*.pyc
*.egg-info
dist
datasets
pytorch_env
models
build
correlation.egg-info

uploads
models
venv
velocity_data
reftnew
LICENSE
README.md 
Dockerfile
docker-compose.yml
chairs_split.txt
RAFT.png
train_mixed.sh
train_standard.sh
.vscode